.section1
{
    height: 100vh;
    background-image: url(../images/hero\ img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h1,h2,h3,p
{
    font-family: "Source Sans 3", sans-serif;
}
.nav
{
    position: absolute;
    width: 100%;
    margin-top: 10px;
    /* background-color: yellow; */
    z-index: 1;
}

.name
{
    float: left;
    font-size: 22px;
    position: absolute;
    left: 13%;
    color: #ff305b;
}
.links
{
    width: 40%;
    /* background-color: cadetblue; */
    position: absolute;
    left: 55%;
    margin-top: 7px ;
    
}
.links a
{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;
    transition: color 0.5s;
}

.links .home
{
    color: #ff305b;
}

.About:hover,.Services:hover,.Portfolio:hover,.Testimonial:hover,.Blog:hover,.Contact:hover
{
    color: #ff305b;
}

.edit
{
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    position: relative;
}

*{
    margin: 0%;
    padding: 0%;
}

.container
{
    width: 80%;
    margin: 40px auto;
    /* background-color: blue; */
    text-align: left;
    position: relative;
    left: 6%;
}

.section1 .title
{
    text-align: center;
    /* background-color: aqua; */
    position: absolute;
    top: 37%;
    left: 33%;
    
    
}

h1
{
    color:  #333;
}

.section1 .title h3
{
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.section1 .title h1
{
    color: #ff305b;
    font-size: 80px;
    font-weight: bold;
    /* background-color: black; */

}


.section1 .title p
{

    color: white;
    font-size: 30px;
    font-weight: lighter;
}

.section2
{
    margin: auto;
    /* background-color: red; */
    overflow: auto;
    position: relative;
    
}

.section2 .photo
{
    background-color: yellow;
    width: 30%;
    float: left;
    margin-top: 50px;
    position: relative;
    text-align: center;
    z-index: 5;
    overflow: hidden;
}

.section2 .photo img
{
    
    width: 100%;
    display: block;
}

.section2 .content
{
    width: 50%;
    /* background-color: salmon; */
    float: left;
    margin-top: 40px;
    margin-left: 10px;
    position: relative;
    left: 7%;
    font-size: 17px;
    
}

.section2 .content h1::after
{
    content: '';
    width: 4px;
    height: 25px;
    background-color: fuchsia;
    position: absolute;
    top: 11px;
    left: 0;

}

span
{
    font-weight: normal;
    color: #555555;
}

.section2 .content .para p
{
    margin-top: 22px;
    color: #555555;
    
}

.section2 .content .para h1
{
    margin-left: 15px;
    color: #333;
}

.section2 .content .data 
{
    margin-top: 30px;
    margin-bottom: 20px;
    /* background-color: saddlebrown; */
    width: 75%;
   
}

.section2 .border 
{
    background-color: transparent;
    width: 350px;
    height: 430px;
    position: absolute;
    border: 7px solid #555555;
    border-radius: 5px;
    left: 220px;
    top: 70px;
    z-index: 4;

}

button
{
    color: white;
    border: none;
    margin-top: 20px;
    padding: 13px 15px;
    width: 27%;
    background-color: #ff305b;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 20px;
    transition: background-color 0.5s;
    cursor: pointer;
}

.b2
{
    width: 20%;
}

button:hover
{
    background-color: rgb(225, 45, 0);
}
.section2 .content .data .col1
{
    /* background-color: aqua; */
    float:left;
    margin-right: 50px;
}
.section2 .content .data p
{
    margin-top: 20px;
    color: #333;
    font-weight: bold;
}

p
{
    color: #333;
}

.section2 .content .data .col2
{
    /* background-color: yellow; */
    float:left;
}

.section2 .container .photo .caption
{
    background-color: rgba(0, 0, 0, 0.57);
    color: #ff305b;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
}


.section2 .container .photo .caption .images
{
    
    float: left;
    position: relative;
    top: 47%;
    left: 25%;
    width: 12%;
    filter: grayscale(100%);
    
}
.section2 .container .photo .caption .images img
{
    cursor:pointer;
    width: 100%;
    display: block;
    transition: all 0.5s;
}
.section2 .container .photo .caption .images:hover img
{
    filter: invert(31%) sepia(43%) saturate(4643%) hue-rotate(330deg) brightness(101%) contrast(101%);
}

.section2 .container .photo:hover .caption
{
    transform: translateY(0);
}

.section3
{
    
    padding: 1px;
    background-color: #f1f1f1;;
    text-align: center;
    position: relative;
    margin-top: 50px;
    
}

.section3 .container
{
    margin-top: 65px;
    margin-bottom: 61px;
    /* background-color: aqua; */
    margin-left: 2px;
    padding-top: 25px;
    width: 88%;
}
.section3 .container .content1 
{
    text-align: center;
    background-color: transparent;
    width: 22%;
    font-family: "Source Sans 3", sans-serif;
    padding: 20px;
    padding-right: 20px;
    float: left;
    transition: all 0.5s;
}
.section3 .container .content1:hover .icon
{
    transform: scale(1.2,1.2);
}
.section3 .container .content1:hover
{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.section3 .container .content1 .icon
{
    /* background-color: black; */
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.section3 .container .content1 .header
{
    margin-bottom: 10px;
    color: #333;
}

.section3 .title
{
    margin-top: 65px;
    font-size: 20px;
    
}

.section3 .title h1::after
{
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 125px;
    left: 720px;
    z-index: 20;
}

.section3 .title::after
{
    content: '';
    width: 150px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 130px;
    left: 682px;
    z-index: 20;
}
.section3 .title h1::before
{
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 135px;
    left: 720px;
    z-index: 20;
}

.section3 .container .icon img
{
    width: 100%;
    display: block;
}


.section4
{
    
    padding: 1px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    
}




.section4 .title
{
    margin-top: 65px;
    font-size: 20px;
    
}

.section4 .title h1::after
{
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 125px;
    left: 720px;
    z-index: 20;
}

.section4 .title::after
{
    content: '';
    width: 150px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 130px;
    left: 682px;
    z-index: 20;
}
.section4 .title h1::before
{
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 135px;
    left: 720px;
    z-index: 20;
}

.section4 .container2
{
    margin-top: 65px;
    margin-bottom: 61px;
    position: relative;
    top: 40px;

}


.section4 .nav
{
    position: relative;
    margin-top: 10px;

    
}

.section4 .nav .links
{
    width: 30%;
    position: absolute;
    left: 545px;
    top: 40px;
    
}
.section4 .nav .links a
{
    font-size: 18px;
    margin-right: 30px;
    color: #333;
}

.section4 .container2 .content2 .image1
{
    float: left;
    background-color: black ;
    width: 22%;
    margin: 40px ;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    left: 165px;
    transition: all 0.5s;
}

.black_layer
{
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: all 0.5s;
    cursor: pointer;
}

.section4 .container2 .content2 .image1:hover .black_layer
{
    background-color: rgba(0, 0, 0, 0.57);
}


.section4 .container2 .content2 .image1 img
{
    width: 100%;
    display: block;
}

.section4 .nav .links .home
{
    color: #ff305b;
}

.section5
{
    
    padding: 1px;
    background-color: #f1f1f1;;
    text-align: center;
    position: relative;
    margin-top: 50px;
    
}

.section5 .container
{

    /* background-color: aqua; */
    margin-left: 2px;
    padding-top: 25px;
    width: 88%;
}
.section5 .container .content1 
{
    text-align: center;
    background-color: transparent;
    width: 22%;
    font-family: "Source Sans 3", sans-serif;
    padding: 20px;
    padding-right: 20px;
    float: left;
    transition: all 0.5s;
}

.section5 .container .content1 .icon
{
    /* background-color: black; */
    width: 30%;
    margin: auto;
    margin-bottom: 5px;
    transition: all 0.5s;
}

.section5 .container .content1 .header
{
    margin-bottom: 6px;
    
}


.section5 .container .content1 .text
{
    font-weight: bold;
    /* background-color: black; */
}

.section5 .container .icon img
{
    width: 100%;
    display: block;
}

.s6
{
    position: relative;
}

.s6 .container6
{
    background-color: #f1f1f1 ;
    width: 50%;
    overflow: hidden;
    position: relative;
    top: 40px;
    left: 380px;
    margin-bottom: 40px;
}

.s6 .container6 .tria
{
    
    background-color: #ff305b;
    width: 300px;
    height: 300px;
    rotate: 45deg;
    position: relative;
    right: 150px;
    bottom: 170px;
}

.s6 .container6 .image6
{
    overflow: hidden;
    border-radius: 50%;
    width: 14%;
    position: absolute;
    left: 40px;
    top: 45px;
}

.s6 .container6 .image6 img
{
    display: block;
    width: 100%;
}
.s6 .container6 .content6
{
    text-align: left;
    /* background-color: yellow; */
    position: absolute;
    top: 50px;
    left: 190px;
    width: 70%;
}
.s6 .container6 .content6 .location .loc
{
    /* background-color: #ff305b;   */
    
    text-align: left;     
    font-weight: bold;
    position: relative;
    top: 10px;
    right: 10px;
}
.s6 .container6 .content6 .location .location_icon
{
    float: left;
    /* background-color: aqua; */
    width: 4%;
    margin-bottom: 20px;
    position: relative;
    right: 6px;
    top: 9px;
}

.s6 .container6 .content6 .head
{
    font-size: 20px;
}

.s6 .container6 .content6 .location .location_icon img
{
    display: block;
    width: 100%;
}
.s6 .container6 .content6 .text
{
    font-style: italic;
}
.s6 .container6 .content6 .stars
{
    width: 20%;
    /* background-color: #ff305b; */
}
.s6 .container6 .content6 .stars img
{
    width: 100%;
    display: block;
}
.section7
{
    background-color: #f1f1f1 ;
    position: relative;
    top: 80px;
    padding: 1px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
}

.section7 .title
{
    margin-top: 65px;
    font-size: 20px;
    
}

.section7 .title h1::after
{
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 125px;
    left: 720px;
    z-index: 20;
}

.section7 .title::after
{
    content: '';
    width: 150px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 130px;
    left: 682px;
    z-index: 20;
}
.section7 .title h1::before
{
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    position: absolute;
    top: 135px;
    left: 720px;
    z-index: 20;
}

.section7 .container2
{
    margin-bottom: 61px;
    position: relative;
    top: 40px;
    /* background-color: #ff305b; */
    text-align: left;

}

.section7 .container2 .content2 .image1
{
    float: left;
    background-color: white ;
    width: 22%;
    margin: 40px ;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 0;
    position: relative;
    left: 165px;
    transition: all 0.5s;
}

.section7 .container2 .content2 .image1 .para_text
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.section7 .container2 .content2 .image1 .head
{
    margin-left: 20px;
    margin-bottom: 20px;
    color: #333;
    cursor: pointer;
    transition: all 0.5s;
}
.section7 .container2 .content2 .image1 .head:hover
{
    color: #ff305b;
}
.section7 .container2 .content2 .image1 .para_text2
{

    margin-left: 20px;
    margin-bottom: 20px;
}

.section7 .container2 .content2 .image1 .readmore
{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;
    transition: all 0.5s;
    margin-bottom: 20px;
    
}


.section7 .container2 .content2 .image1 .readmore a
{
    text-decoration: none;
    color:  #333;
    margin-left: 20px;
    transition: color 0.5s;
}
.section7 .container2 .content2 .image1 .readmore .read:hover
{
    color: #ff305b;
}

.section7 .container2 .content2 .image1 img
{
    width: 100%;
    display: block;
    
}

.s7
{
    position: relative;
}

.s7 .container7
{
    /* background-color: #9f1a1a ; */
    width: 60%;
    
    position: relative;
    top: 40px;
    left: 300px;
    margin-bottom: 40px;
    
}
.s7 .container7 .name
{
    background-color: yellow ;
    width:47% ;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    margin-right: 45px;
    margin-bottom: 40px;
    
}
input:focus, textarea:focus {
    outline: none;
    
}
.s7 .container7 .form input
{
    width: 100%;
    height: 40px;
    padding: 1px;
    padding-left:8px ;
    border-radius: 5px;
    border-color: #d5d5d5;
    border-width: 1px;
    
}
.s7 .container7 .gemail 
{
    width: 47%;
    float: left;
}
.s7 .container7 .gemail input
{
    width: 100%;
}
.s7 .container7 .subject
{
    background-color: yellow ;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 100%;
}
.s7 .container7 .subject input
{
    width: 99%;
    height: 35px;
    padding: 1px;
    padding-left:8px ;
    border-radius: 5px;
    border-color: #d5d5d5;
    border-width: 1px;
    
}
.s7 .container7 .textarea
{
    /* background-color: yellow; */
    resize: none;
    margin-bottom: 60px;
    height: 50%;

}
.s7 .container7 .textarea textarea
{
    width: 99%;
    padding-top: 10px;
    padding-left:8px;
    border-radius: 5px;
    border-color: #d5d5d5;
    
}

.s7 .container7 .button
{
    /* background-color: yellow; */
    position: relative;
    
}
.s7 .container7 .button button
{
    color: white;
    border: none;
    padding: 13px 15px;
    width: 20%;
    background-color: #ff305b;
    border-radius: 4px;
    font-size: 15px;
    transition: background-color 0.5s;
    cursor: pointer;
    position: relative;
    bottom:50px ;
    right: 354px;
}

.s7 .container7 .button button:hover
{
    background-color: rgb(225, 45, 0);
}

.footer
{
    margin-top: 20px;
    background-color: #333333;
    padding: 1px;
}
.footer .icons
{
    
    /* background-color: red; */
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

.footer .icons .icon1
{
    /* background-color: yellow; */
    float: left;
    width: 5%;
    position: relative;
    left: 300px;
}

.footer .icons .icon1 img
{
    width: 100%;
    display: block;
}

.footer .text
{
    text-align: center;
    /* background-color: aqua; */

    margin-bottom: 50px;
    
}
.footer .text p
{
    color: white;
}

.foot_link a
{
    text-decoration: none;
    color: #ff305b;
}

.foot_link a:hover
{
    text-decoration:  underline;

}

.clr
{
    clear: both;
}
